.logo{
    width: 10%;
}

.logo-name{
    color: white !important;
    padding: 0.5em;
    font-weight: 800;
    border: 1px solid #ffffff !important;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;

}

.header-list {
    color: #e7e2e2 !important;
    font-weight: 500;
}

.header-list:hover{
   color: #0a3cf1 !important;
}

.login-list{
    color: #f5f2f2 !important;
    font-weight: 500;
}

.login-list:hover{
   color: #0a3cf1 !important;
}

.login-nav{
    text-align: end;
    justify-items: end;
}

#basic-nav-dropdown{
    color: #e74f3b !important;
}

@media only screen and (max-width:688px) {


}


@media only screen and (min-width:689px) and (max-width: 991px) {


}
