.logo{
    width: 8%;
}

.header-list {
    color: #e7e2e2 !important;
    font-weight: 500;
}

.header-list:hover{
   color: #f64a4a !important;
}

.login-list{
    color: #f5f2f2 !important;
    font-weight: 500;
}

.login-list:hover{
   color: #f64a4a !important;
}

.login-nav{
    text-align: end;
    justify-items: end;
}

#basic-nav-dropdown{
    color: red !important;
}

@media only screen and (max-width:688px) {


}


@media only screen and (min-width:689px) and (max-width: 991px) {


}
