.service{
    height: 370px;
    
}
.text-color{
    color: tomato !important;
    font-size: 50px;
    font-weight: 500;
}


/* .details-btn{
    background-color: rgb(64, 170, 117)!important;
    width: 29%;
    
} */

a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.more-btn {
  background-color: rgb(64, 170, 117)!important;
  color: white;
  border-radius: 50%;
  border: none;
  font-weight: bolder;
  font-size: 10px;
 
}
