.container-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f6fffc !important;
    padding: 10px;
}

.container_header {
    margin: 20px;
    padding: 20px;
}

.banner-bold {
    color: #3b61e7 !important;
    font-size: 50px;

}

.health_care {
    color: #575757 !important;
    font-size: 27px;
}

.banner-picture img {
    width: 100%;
    height: 80vh;
}


@media only screen and (max-width:688px) {
    .container_banner {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .container_banner {
        grid-template-columns: repeat(1, 1fr);
    }
}