.container_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f6fffc !important;
}

.container_header {
    margin: 20px;
    padding: 20px;
}

.banner-bold {
    color: #f64a4a !important;
    font-size: 50px;

}

.health_care {
    color: #575757 !important;
    font-size: 27px;
}

.p_tag {
    font-size: 13px;
    color: rgb(126, 122, 122) !important;
}

.banner-button {
    background-color: #f64a4a !important;
    padding: 0.5em;
    border: 1px solid #f64a4a;
    color: white !important;
    text-decoration: none;
    letter-spacing: 5px;
}

.picture {
    margin-top: -75px;
}


@media only screen and (max-width:688px) {
    .container_banner {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .container_banner {
        grid-template-columns: repeat(1, 1fr);
    }
}