.appoint{
    display: flex;

   
}


/* make it responsive */
@media only screen and (max-width: 688px){
    .appoint{
        
        display: flex;

    }
}

@media only screen and (min-width: 689px) and (max-width: 991px){
        .appoint{
       
        display: flex;
        
    }
}
