.about-card{
    width: 100%;
    height: 83vh;
}

.about-card-text{
    margin-left: 800px;
}
.category img{
    width: 100%;
    height: 50vh;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-top: -150px;
  margin-left: 180px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.category:hover img {
  opacity: 0.6;
}

.category:hover .middle {
    opacity: 1;
}

.text {
    color: black !important;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
}

.service-time{
    padding: 1.2em;
    border-bottom: 1px solid #f1f0f0 !important;
}

.booking-time{
    margin-left: 350px;
}

.appointment{
 padding: 1.5em;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
 
}

.appointment h2 {
    margin-left: 150px;
}


.booking-from form{
    margin-left: 50px;
}

.booking-from input{
    width: 80%;
}

.booking-from textarea{
    width: 80%;
}

.booking-from select{
    width: 80%;
}
