.footer-container {
  background-color: #191919;
  padding: 10px;
  color: rgb(252, 243, 243);
}


.icon {
  margin: 5px;
  padding: 5px;
  color: rgb(228, 228, 228);
  font-size: 30px;
}

.logo-text{
  font-size: 25px;
  font-family: cursive;
}

.footer-logo{
  border-bottom: 1px solid white !important;
  border-radius: 50px;
  width: 50%;
  text-align: center;

}

.footer-text{
  font-size: 12px;
  padding:10px;
  margin: 5px;
}


.icon_instagram:hover {
  color: #dc4444 !important;
}

.icon_twitter:hover {
  color: #1a95e1 !important;
}

.icon_youtube:hover {
  color: #f50000 !important;
}

.icon_facebook:hover {
  color: #032bf5 !important;
}

.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.footer-menu:hover {
  color: #08f67f;
}

.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(226, 226, 226);
}


.footer-phone-icon {
  font-size: 30px;
  color: rgb(64, 170, 117);
}

.icon_instagram {
  color: red !important;
}

.icon_twitter {
  color: rgb(29, 133, 198) !important;
}

.icon_youtube {
  color: rgb(245, 24, 24) !important;
}

.icon_facebook {
  color: rgb(21, 51, 199) !important;
}

.footer-copy-text{
  font-size: 10px;
  text-align: center;
}