.icon {
  margin: 5px;
  padding: 5px;
  color: rgb(228, 228, 228);
  font-size: 30px;
}

.icon_instagram:hover {
  color: rgb(172, 69, 69) !important;
}

.icon_twitter:hover {
  color: rgb(92, 133, 158) !important;
}

.icon_youtube:hover {
  color: rgb(128, 75, 75) !important;
}

.icon_facebook:hover {
  color: rgb(82, 94, 151) !important;
}

.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.footer-menu:hover {
  color: rgb(64, 170, 117);
}

.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(226, 226, 226);
}

.footer-container {
  background-color: #191919;
  padding: 50px;
  color: rgb(252, 243, 243);
}

.footer-phone-icon {
  font-size: 30px;
  color: rgb(64, 170, 117);
}

.icon_instagram {
  color: red !important;
}

.icon_twitter {
  color: rgb(29, 133, 198) !important;
}

.icon_youtube {
  color: rgb(245, 24, 24) !important;
}

.icon_facebook {
  color: rgb(21, 51, 199) !important;
}