.icon {
  margin: 5px;
  padding: 5px;
  background-color: rgb(46, 46, 46);
  color: rgb(228, 228, 228);
  font-size: 30px;
}
.icon:hover {
  background-color: rgb(64, 170, 117);
}
.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.footer-menu:hover {
  color: rgb(64, 170, 117);
}
.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(226, 226, 226);
}
.footer-container {
  padding: 50px;
  color: rgb(252, 243, 243);
}
.footer-phone-icon {
  font-size: 30px;
  color: rgb(64, 170, 117);
}