/* -------------commom css--------------- */
.text-color{
    color: #f64a4a !important;
    font-size: 40px;
    font-weight: 500;
    border-bottom: 3px solid #f64a4a !important;
}


.section-gap{
  margin-top: 100px;
}

.p-tag {
    font-size: 18px;
    color: #7e7a7a !important;
    font-family: sans-serif;
}


.button {
    background-color: #f64a4a !important;
    padding: 0.5em;
    border: 1px solid #f64a4a;
    color: white !important;
    text-decoration: none;
    letter-spacing: 4px;
}

.button:hover{
    background-color: #fafafa !important;
    color: #000000 !important;
    border: 1px solid #f64a4a !important;
    z-index: 1;
    box-shadow: 0 8px 50px #fff9f933 !important;
    transform: scale(1.05);
}

/* ------------------------------------- */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
